@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body{
    background: #F6F6F6;
    font-family: 'Noto Sans JP',sans-serif;
}

.projectheader-teacher{
  position: fixed;
  background-color: #228BE6;
  width: 100%;
  height:18vh;
  min-height: 6.5rem;
  left:0;
  top:0;
  z-index: 1;
}
.projectheader-logo-teacher{
  position: relative;
  top: 5px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
}
.project-link-select{
  color: #FFFFFF;
  text-decoration:none;
  font-weight: 700;
}
.project-link{
  color: #FFFFFF;
  text-decoration:none;
  font-weight: 200; 
}
.projectheader-list-teacher li{
  list-style: none;
  display: inline;
  font-size: 24px;
  color: #FFFFFF;
  margin-right: 40px;
}
.header-container-menu{
  position: fixed;
  pointer-events: none;
  width: 100%;
  height:18vh;
  min-height: 6.5rem;
  left:0;
  top:0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dropdown-icon{
  border-radius: 50%;  
  width:  60px;
  height: 60px;
  margin-left: 30px;
  margin-right: 40px;
}
.dropdown {
  pointer-events: auto;
  position: relative;
  display: inline-block;
}
.dropdown-container {
  display: none;
  position: absolute;
  background-color: #DADADA;
  border-color: #E9D8D8;
  min-width: 120px;
  padding: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-item{
  background-color: #228BE6;
  color: #FFFFFF;
  padding: 12px 16px;
  font-size: 14px;
  text-decoration: none;
  display: block;
  border: none;
  width: 118px;
  margin: 1px 1px 1px 1px;
} 
.dropdown-item:hover {
  background-color: #FFFFFF;
  color: #228BE6;
}
.dropdown-icon:hover, .dropdown-icon:focus {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.show{
  display: block;
}
.login-user{
    font-size: 0.8rem;
    color: #FFFFFF;
}
.login-name{
  font-size: 1.2rem;
}

/* 以下main */
.main{
    position: absolute;
    top: 18vh;
    left: 0px;
    width: 100%;
    height: 82vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.chat-container {
    background-color: #ddd9d9;
    width: 100%;
    height: 82vh;
}
.users-container {
    background-color: #0969BD
    ;
    width: 25%;
    min-width: 200px;
    max-width: 300px;
    height: 82vh;
    border: none;
    overflow-y: scroll;
}
.users-container::-webkit-scrollbar {
  display: none;
}
.users-container::-webkit-scrollbar-track{
  background: #0969BD;
}
.users-container::-webkit-scrollbar-thumb{
  background: #9b9b9b;
  border-radius: 10px;
}


/* チャット機能 */
  .comment-main {
    width: 100%;
    height: 76vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  .comment-main::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .comment-main::-webkit-scrollbar-track{
    background: #ddd9d9;
  }
  .comment-main::-webkit-scrollbar-thumb{
    background: #9b9b9b;
    border-radius: 10px;
  }
  .comment-block {
    margin-top: 0.5rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
  }
  .my-comment-block {
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  .comment-user {
    display: flex;
    align-items: center;
  }
  .comment_container {
    display: flex;
    align-items: center;
  }
  .chatDelete{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .chatDelete:hover{
    background-color: #9b9b9b;
  }
  .comment-box {
    display: inline-block;
    position: relative;
    margin: 0.8rem 2rem 0rem 2rem;
    padding: 0.4rem;
    background: #fff;
    border-radius: 0.5rem;
    color: #333;
    font-size: 0.8rem;
    word-break: break-all;
    white-space: pre-wrap;
    width: fit-content;
    min-width: 70px;
    max-width: 90%;
  }
  .comment-box::after {
    content: "";
    position: absolute;
    margin: 0 auto;
    top: -1rem;
    left: 0rem;
    width: 0rem;
    height: 0rem;
    border-bottom: 1.5rem solid #FFFFFF;
    border-left: 0.2rem solid transparent;
    border-right: 2rem solid transparent;
    transform-origin: left top;
    transform: skewX(40deg);
  }
  .my-comment-box {
    display: inline-block;
    position: relative;
    margin: 0.8rem 2rem 0.7rem 0.5rem;
    padding: 0.4rem;
    background-color: #2954c9;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 0.8rem;
    word-break: break-all;
    white-space: pre-wrap;
    width: fit-content;
    min-width: 70px;
    max-width: 90%;
  }
  .my-comment-box::after {
    content: "";
    position: absolute;
    margin: 0 auto;
    top: -1rem;
    left: 3rem;
    width: 0rem;
    height: 0rem;
    border-bottom: 1.5rem solid #2954c9;
    border-left: 2rem solid transparent;
    border-right: 0.2rem solid transparent;
    transform-origin: left top;
    transform: skewX(-40deg);
  }
  .date-line {
    position: relative;
    margin-top: 1rem;
    margin-left: 10px;
    height: 0px;
    border-color: rgb(216, 216, 216);
  }
  .date-box {
    position: relative;
    text-align: center;
    width: 30%;
    margin-top: -1.4rem;
    margin-left: 35%;
    background-color: #ddd9d9;
    box-sizing: border-box;
    font-size: 1rem;
  }
  
  .user-icon {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
  .user-name {
    font-size: 1.1rem;
    margin-right: 0.5rem;
  }
  .comment-time {
    color: #6d6b6b;
    font-size: 0.8rem;
  }
  .comment-sender {
    height: 6vh;
    min-height: 2.2rem;
    padding-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 2;
    box-sizing: border-box;
  }
  .comment-input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    margin-left: 0.3rem;
    border-color: #ACA4A4;
    box-sizing: border-box;
    overflow: hidden;
    resize: none;
    z-index: 2;
  }
  .comment-input:hover{
    border: 2px solid #228BE6;
  }
  .comment-input:focus{
    outline: none !important;
    border: 2px solid #228BE6;      
  }

  .send {
    padding: 0.4rem;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
    width: 100px;
    height: 2rem;
    background-color: #5791c4;
    border: none;
    border-radius: 0.4rem;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    box-sizing: border-box;
    outline: none;
  }
  .send:hover{
    background-color: #409AE8;
  }
  
  /* ユーザー表示 */
  .teacher-container{
      margin-top: 1rem;
  }
  .student-container{
    margin-top: 2rem;
  }
  .user-category{
    margin-left: 0.2rem;
    font-weight: 500;
    color: #FFFFFF;
  }
  .user{
      pointer-events: all;
      padding: 0.5rem;
      margin-right: 0rem;
      color: #FFFFFF;
      display: flex;
      flex-direction: row;
      align-items: center;
      cursor: pointer;
  }
  .userDelete{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .userDelete:hover{
    background-color: #9b9b9b;
  }
  .user-all{
    background-color: #409AE8;
    pointer-events: all;
    padding: 0.5rem;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}
  .user:hover{
      background-color: #409AE8;
  }
  .user:checked{
    background-color: #409AE8;
  }

  .user_add{
    width: 2rem;
    height: 2rem;
    margin-top: 0.3rem;
    margin-left: 45%;
    margin-bottom: 2rem;
    padding: 0.2rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .user_add:hover{
    background-color: #9b9b9b;
  }

  /* ユーザー追加画面 */
  .user_add_screen{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(196, 196, 196, 0.5);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    display: none;
}
.user_add_container{
    z-index: 3;
    width: 25rem;
    height: 15rem;
    background-color: #FFFFFF;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.select-form{
    margin-top: 2rem;
    margin-left: 3rem;
}
.menu_title{
    font-size: 24px;
    margin-bottom: 1rem;
}
.user_name{
    font-size: 14px;
    font-weight: 200;
}
.user_name_input{
    width: 250px;
    padding: 5px;
    font-size: 16px;
}
.user_category{
  outline: none;
}
.button-container{
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
}
.cansel{
    padding: 5px;
    margin-right: 20px;
    border-width: 0.5px;
    border-radius: 5px;
}
.cansel:hover{
    color: #FFFFFF;
    background-color: #6a6a6a;
}
.select{
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 2rem;
    background-color: #5791C4;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
}
.select:hover{
    background-color: #01559F;
}
.open{
    display: flex;
}

/* ユーザー削除確認画面 */
.user_delete_screen{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  display: none;
}
.user_delete_container{
  z-index: 3;
  width: 25rem;
  height: 15rem;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.delete_form{
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.confirme{
  font-size: 24px;
  margin-bottom: 1rem;
}
.deleteUser_container{
  display: flex;
  flex-direction: row;
  align-content: center;
}
.delete_user_icon{
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
.delete_user{
  font-size: 1.5rem;
  font-weight: 200;
}
.button-container{
  margin-top: 1.5rem;
}
.cansel{
  padding: 5px;
  margin-right: 20px;
  border-width: 0.5px;
  border-radius: 5px;
}
.cansel:hover{
  color: #FFFFFF;
  background-color: #6a6a6a;
}
.select{
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 2rem;
  background-color: #5791C4;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
}
.select:hover{
  background-color: #01559F;
}

/* チャット削除確認画面 */
.delete_screen{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(196, 196, 196, 0.5);
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  display: none;
}
.delete_container{
  z-index: 3;
  width: 25rem;
  height: 15rem;
  background-color: #FFFFFF;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.delete_form{
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.confirme{
  font-size: 24px;
  margin-bottom: 1rem;
}
.button-container_chat{
  margin-top: 4rem;
  margin-left: 12rem;
}
.cansel_chat{
  padding: 5px;
  margin-right: 20px;
  border-width: 0.5px;
  border-radius: 5px;
}
.cansel_chat:hover{
  color: #FFFFFF;
  background-color: #6a6a6a;
}
.select_chat{
  padding: 0.4rem 1rem 0.4rem 1rem;
  background-color: #5791C4;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
}
.select_chat:hover{
  background-color: #01559F;
}
.openDeleteUser{
  display: flex;
}
.openDeleteChat{
  display: flex;
}
